# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.log
# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
log.txt
# Directory
.idea
test
tests


# npm packages
front/node_modules

# go builds
/services/backend/cmd/backend
/services/coordinator/cmd/coordinator
/services/data-storage/cmd/data_storage
/services/event-detection/cmd/detection
/speedtests/postgres-distributed-cities/speetest
/services/backend/cmd/tor_data/
/utils/csvlib/cmd/connection.toml
/utils/csvlib/cmd/loader
/utils/csvlib/cmd/events_posts.csv
